{% extends "master_auth.html" %}
{% load crispy_forms_tags %}
{% block title %}Set New Password | Bastian Lab{% endblock %}

{% block content %}

<form class="form w-100"
      method="post"
      action="/auth/set_password"
      novalidate>

    {% csrf_token %}

    <div class="text-center mb-10">
        <h1 class="text-dark fw-bolder mb-3">Set New Password</h1>
        <div class="text-gray-500 fw-semibold fs-6">
            Please choose a strong password to secure your account.
        </div>
    </div>

    <div class="password-input-container mb-6">
        {{ form|crispy }}
    </div>

    <div class="fv-row mb-3 text-center">
        {% for message in messages %}
            <span class="text-danger">{{ message }}</span>
        {% endfor %}
    </div>

    <div class="d-grid mb-10">
        <button type="submit" class="btn btn-primary">
            Save Password
        </button>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6">
        Already updated your password?
        <a href="/auth/login" class="link-primary">Sign In</a>
    </div>

</form>

{% endblock %}
