{% extends "auth/master_auth.html" %}
{% block title %}Sign In | Bastian Lab{% endblock %}

{% block content %}

<form class="form w-100"
      method="post"
      action="/auth/login"
      novalidate>

    {% csrf_token %}

    <div class="text-center mb-11">
        <h1 class="text-dark fw-bolder mb-3">Sign In</h1>
        <div class="text-gray-500 fw-semibold fs-6">
            Please use your email and password
        </div>
    </div>

    <div class="fv-row mb-8">
        {{ form.username }}
    </div>

    <div class="fv-row mb-3">
        <div class="password-input-container">
            {{ form.password }}
            <div class="toggle-password">
                <i class="bi bi-eye d-none"></i>
            </div>
        </div>
    </div>

    <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
        <a href="/auth/forgot_password" class="link-primary">
            Forgot Password?
        </a>
    </div>

    <div class="fv-row mb-3 text-center">
        {% for message in messages %}
            <span class="text-danger">{{ message }}</span>
        {% endfor %}
    </div>

    <div class="d-grid mb-10">
        <button type="submit" class="btn btn-primary">
            Sign In
        </button>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6">
        Not a member yet?
        <a href="/auth/signup" class="link-primary">Sign up</a>
    </div>

</form>

{% endblock %}
