{% extends "master_auth.html" %}
{% block title %}Sign Up | Bastian Lab{% endblock %}

{% block content %}

<form class="form w-100"
      method="post"
      action="/auth/signup/"
      novalidate>

    {% csrf_token %}

    <div class="text-center mb-11">
        <h1 class="text-dark fw-bolder mb-3">Sign Up</h1>
        <div class="text-gray-500 fw-semibold fs-6">
            Create your account to access the platform
        </div>
    </div>

    <div class="fv-row mb-8">
        <label class="form-label fw-semibold text-dark">Email</label>
        {{ form.email }}
    </div>

    <div class="fv-row mb-8">
        <label class="form-label fw-semibold text-dark">Password</label>
        <div class="password-input-container">
            {{ form.password }}
            <div class="toggle-password">
                <i class="bi bi-eye d-none"></i>
            </div>
        </div>
    </div>

    <div class="fv-row mb-3 text-center">
        {% for message in messages %}
            <span class="text-danger">{{ message }}</span>
        {% endfor %}
    </div>

    <div class="d-grid mb-10">
        <button type="submit" class="btn btn-primary">
            Create Account
        </button>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6">
        Already have an account?
        <a href="/auth/login" class="link-primary">Sign In</a>
    </div>

</form>

{% endblock %}
