{% extends "__base.html" %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">



{% block body_title %}Editing blocks for Patient <a href="{{ patients.get_absolute_url }}">{{ patients.pat_id }}</a>{% endblock %}
</head>
<body>
  

{% block content %}
<div class="container">
  <form action="" method="post" enctype="multipart/form-data">
    <p>
        <input type="submit" value="Update blocks">
        &nbsp; &nbsp;
        <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'patients-list' %}">Cancel</a>
      </p>
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {% for block_form in form.forms %}


    
      <h4>
        {% if block_form.instance.bl_id %}
          Block #: {{ block_form.instance.old_block_id }}
        {% else %}
          {% if form.forms|length > 1 %}
            Add another block
          {% else %}
            Add a block
          {% endif %}
        {% endif %}
      </h4>

      {% for hidden_field in block_form.hidden_fields %}
        {{hidden_field}}
        {{ hidden_field.errors }}
      {% endfor %}

      <div class="row bg-secondary text-white">
          <div class="col">
            {{block_form.old_block_id|as_crispy_field}}
          </div>
          <div class="col">
              {{block_form.project|as_crispy_field}}
          </div>
     
      <!-- <table>
        {{ block_form.as_table }}
      </table> -->

  <!-- <table class="table">
  <thead class="thead-light">
    <tr>

      <th scope="col">Path #</th>
      <th scope="col">Project</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{block_form.old_block_id}}</td>
      <td>{{block_form.project}}</td>
    </tr>
  </tbody>
</table> -->

    </div> 
<!-- </div> -->
      {% if block_form.nested %}
    <div class="indent">

     

      {{ block_form.nested.management_form }}
      {{ block_form.nested.non_form_errors }}

      <div class="container">
     <br>
          

        {% for area_form in block_form.nested.forms %}
        

              {% for hidden_field in area_form.hidden_fields %}
                {{ hidden_field.errors }}
              {% endfor %}

              <table>
                {{ area_form.as_table }}
              </table>
              <br>
            </td>
            <td>
              {% if area_form.instance.image %}
              Image
                <img src="{{ area_form.instance.image.url }}" height="100" alt="{{ nested.form.instance.image }}">
              {% endif %}
            </td>
          </tr>
        {% endfor %}

    </div>
      {% endif %}

    {% endfor %}

    <hr>

  </div>
  </div>
  </form>

{% endblock content %}
</body>