{% extends "__base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" >
{% csrf_token %}

    <div class="container">
        
        <h4>New Patient</h4>
            <div class="row justify-content-start">
                <div class="col-6">{{ form.pat_id|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class="col">{{ form.dob|as_crispy_field }}</div>
                <div class="col">{{ form.race|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class="col">{{ form.source|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class= "col-6"> {{form.notes|as_crispy_field}}</div>
            </div>
            <br>
        <button type="submit" class="btn btn-success">Save patient</button>
    </div>
        
</form>
    {% endblock %}