{% extends "__base.html" %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">



<h2>
  {% block body_title %}Editing blocks for Patient &nbsp; <a href="{% url 'patient-update' pk=patients.pa_id %}">{{ patients.pat_id }}</a>
{% endblock %}
</h2>

</head>
<body>
  

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    <p>
        <input type="submit" value="Update blocks">
        &nbsp; &nbsp;
        <a href="{% url 'patients-list' %}">Cancel</a>
      </p>
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    {% for block_form in form.forms %}

      <h4>
        {% if block_form.instance.bl_id %}
          Block #: {{ block_form.instance.old_block_id }}
        {% else %}
          {% if form.forms|length > 1 %}
            Add another block
          {% else %}
            Add a block
          {% endif %}
        {% endif %}
      </h4>

      {% for hidden_field in block_form.hidden_fields %}
        {{hidden_field}}
        {{ hidden_field.errors }}
      {% endfor %}

  
      <div class="row bg-secondary text-black">
          <div class="col">
            {{block_form.old_block_id|as_crispy_field}}
          </div>
          <div class="col">
              {{block_form.project|as_crispy_field}}
          </div>
     
      <!-- <table>
        
      </table> -->

  <!-- <table class="table">
  <thead class="thead-light">
    <tr>

      <th scope="col">Path #</th>
      <th scope="col">Project</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{block_form.old_block_id}}</td>
      <td>{{block_form.project}}</td>
    </tr>
  </tbody>
</table> -->

    </div> 
<!-- </div> -->
      {% if block_form.nested %}
    <div class="indent">

     

      {{ block_form.nested.management_form }}
      {{ block_form.nested.non_form_errors }}

      <table>
        {% for area_form in block_form.nested.forms %}

          <tr>
            <td>
              <em>
                {% if area_form.instance.area_id %}
                  Area: {{ area_form.instance.area_type }}
                {% else %}
                  Add an area
                {% endif %}
              </em>
            </td>
            <td>
              {% for hidden_field in area_form.hidden_fields %}
                {{ hidden_field.errors }}
              {% endfor %}
              <div class="container">
        
                  <h4>Area</h4>
                      <div class="row justify-content-start">
                          <div class="col-6">{{ area_form.collection|as_crispy_field }}</div>
                          <div class="col">{{ area_form.area_type|as_crispy_field }}</div>
                          <div class="w-100"></div>
                          <div class="col">{{ area_form.he_image|as_crispy_field }}</div>
                          
                          <div class="col">{{ area_form.completion_date|as_crispy_field }}</div>
                          <div class="w-100"></div>
                          <div class="col">{{ area_form.investigator|as_crispy_field }}</div>
                          
                          <div class= "col-12"> {{area_form.notes|as_crispy_field}}</div>
                      </div>
                      <br>
                  <!-- <button type="submit" class="btn btn-success">Save patient</button> -->
              </div>
              <!-- <table>
                
              </table> -->
            </td>
            <td>
              {% if area_form.instance.image %}
                <img src="{{ area_form.instance.image.url }}" height="100" alt="{{ nested.form.instance.area_id }}">
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
      {% endif %}

    {% endfor %}

    <hr>

    
  </form>

{% endblock content %}
</body>