{% extends "__base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body_title %}
<h2>Block {{blocks.old_block_id}}</h2> 
{% endblock body_title %}
{% block content %}

<form method="post" >
{% csrf_token %}

    <div class="container">
        
            <div class="row justify-content-start">
                <div class="col-6">{{ form.old_area_id|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class="col-6">{{ form.collection|as_crispy_field }}</div>
                <div class="col-2">{{ form.investigator|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class="col-12">{{ form.notes|as_crispy_field }}</div>
                <div class= "col-6"> {{form.area_type|as_crispy_field}}</div>

            </div>
            <br>
    
        <button type="submit" class="btn btn-success">Add Area</button>

    </div>
        
</form>
    {% endblock %}

