{% extends "__base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body_title %}
<h2>Block {{blocks.old_block_id}}</h2> 
{% endblock body_title %}
{% block content %}

<form method="post" >
{% csrf_token %}

    <div class="container">
        
        
            <div class="row justify-content-start">
                <div class="col-6">{{ form.old_block_id|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class="col-6">{{ form.body_site|as_crispy_field }}</div>
                <div class="col-2">{{ form.age|as_crispy_field }}</div>
                <div class="w-100"></div>
                <div class="col-12">{{ form.diagnosis|as_crispy_field }}</div>
                <div class= "col-6"> {{form.subtype|as_crispy_field}}</div>
                <div class="w-100"></div>
                <div class= "col-3"> {{form.prim|as_crispy_field}}</div>
                <div class= "col-3"> {{form.p_stage|as_crispy_field}}</div>
                <div class="col-3">{{ form.mitoses|as_crispy_field }}</div>
                <div class= "col-3"> {{form.thickness|as_crispy_field}}</div>
            </div>
            <br>
    
        <button type="submit" class="btn btn-success">Update Block</button>
        <a href="{% url 'block-delete' blocks.bl_id %}?projectid={{blocks.project.pr_id}}" class="btn btn-danger" role="button"> Delete Block</a>
        <a href="{% url 'add-areas' blocks.bl_id %}?projectid={{blocks.project.pr_id}}" class="btn btn-primary" role="button"> Add Areas</a>

    </div>
        
</form>
    {% endblock %}