{% extends "__base.html" %}

{% load extra_tags %}
{% if all_blocks %}


{% block content %}

<table class="table">
    <tr>
        <thead class="thead-light">
            {% if projectname %}
                <h3> All blocks in project {{ projectname }} </h3>
            {% elif patientname %}
                <h3> All blocks for patient {{ patientname }} </h3>
            {% endif %}
            <tr>
                <th>Accession#</th>
                <th>Diagnosis</th>
                <th>Body Site</th><th>Gross</th><th>Areas</th>
            </tr>
        </thead>
        <tbody>
        {% for block in all_blocks %}
            <tr>
            {% if projectname %}
                <td><a href="{% url 'block-update' block.bl_id %}?projectid={{block.project.pr_id}}">{{ block.old_block_id }}</a></td>
            {% elif patientname %}
                <td><a href="{% url 'block-update' block.bl_id %}?patientid={{block.patient.pa_id}}">{{ block.old_block_id }}</a></td>
            {%else %}
                <td><a href="{% url 'block-update' block.bl_id %}">{{ block.old_block_id }}</a></td>

            {% endif %}
            <td>{{ block.diagnosis }}</td>
            <td>{{ block.body_site }}</td>
            <td>{{ block.gross }}</td>
            <td><a href="{% url 'areas-list' %}?blockid={{block.bl_id}}">{{ block.areas_set.count}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
</table>

{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}
{% else %}
  <p>There are no blocks to display.</p>
{% endif %}



