{% extends "__base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Delete block #{{blocks.old_block_id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="alert alert-warning" role="alert">
                Are you sure you want to delete block <strong>{{ blocks.old_block_id }}</strong>?
            </div>
            <form action="{% url 'block-delete' pk %}" method="POST">
                    {% csrf_token %}
                    
                <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
                {% if request.GET.projectid %}
                    <a href="{% url 'block-list' %}?projectid={{request.GET.projectid}}" class="btn btn-secondary" role="button"> Cancel</a>
                {% elif request.GET.patientid %}
                    <a href="{% url 'block-list' %}?patientid={{request.GET.patientid}}" class="btn btn-secondary" role="button"> Cancel</a>
                {% endif %}
                
                
             </form>
        </form>
    </div>
</div>
{% endblock %}