{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{% endblock %}

{% block content %}
<form method="post" action="{% if article %} {% url 'edit-article' slug=article.slug %} {% else %} {% url 'new-article' %} {% endif %}" novalidate>
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Article</h3>
      </div>
      <div class="card-body">
        {% csrf_token %}
        <div class="row">
          {{form|crispy}}
        </div>
      </div>
      <div class="card-footer">
        <a href="/wiki/{{ article.slug }}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
    console.log("dssdfdfds");
    var easyMDE = new EasyMDE({ element: document.getElementById('id_content') });
</script>
{% endblock %}
