<li class="">
    <a class="text-primary fw-bold text-hover-dark mb-2 fs-6" href="{% url 'view-article' slug=article.slug %}">
        <span class="svg-icon svg-icon-muted svg-icon-2hx">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"/>
            </svg>
        </span>
        {{ article.title }}
    </a>
    {% if article.children.exists %}
        <ul class="list-group ml-3">
            {% for child in article.children.all %}
                {% include 'tree_partial.html' with article=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
