<div class="container">
  <div class="row">
    <div class="col-sm">
        <li class="">
            <a href="{% url 'view-article' slug=article.slug %}">{{ article.title }}</a>
            {% if article.children.exists %}
                <ul class="list-group ml-3">
                    {% for child in article.children.all %}
                        {% include 'tree_partial.html' with article=child %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </div>
    <div class="col-sm">
      {{ article.created_at|date:"M d, Y"  }}
    </div>

  </div>
</div>


