{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% if id %} {% url 'edit-area' id %} {% else %} {% url 'new-area' %} {% endif %}" novalidate>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Area</h3>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="row">
        <div class="col-6"> {{form.block|as_crispy_field}}</div>
        <div class="col-6"> {{form.name|as_crispy_field}}</div>
        <div class="col-6">{{ form.area_type|as_crispy_field }}</div>
        <div class="col-6">{{ form.completion_date|as_crispy_field }}</div>
        <div class="col-12">{{ form.image|as_crispy_field }}</div>
        <div class="col-12">{{ form.notes|as_crispy_field }}</div>
      </div>
    </div>
    <div class="card-footer">
      <a href="/areas" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="/static/assets/js/custom/documentation/forms/flatpickr.js"></script>
<script src="/areas/static/init.dateinput.areas.js"></script>
{% endblock %}
