{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% if id %} {% url 'edit-area' id %} {% else %} {% url 'new-area' %} {% endif %}">
{% csrf_token %}
<div class="container">

    <h4>New Area</h4>
        <div class="row justify-content-start">
          <div class="col-6"> {{form.old_area_id|as_crispy_field}}</div>
          <div class="col-6">{{ form.area|as_crispy_field }}</div>
          <div class="col-6">{{ form.old_block_id|as_crispy_field }}</div>
          <div class="col-6">{{ form.collection|as_crispy_field }}</div>
          <div class="col-6">{{ form.area_type|as_crispy_field }}</div>
          <div class="col-6">{{ form.he_image|as_crispy_field }}</div>
          <div class="col-6">{{ form.completion_date|as_crispy_field }}</div>
          <div class="col-6">{{ form.investigator|as_crispy_field }}</div>
          <div class="col-6">{{ form.project|as_crispy_field }}</div>
          <div class="col-6">{{form.block|as_crispy_field}}</div>
          <div class="col-12">{{ form.image|as_crispy_field }}</div>
          <div class="col-12">{{ form.notes|as_crispy_field }}</div>
        </div>
        <br>
    <button type="submit" class="btn btn-success">Save Block</button>
</div>
</form>
{% endblock %}
