{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% if id %} {% url 'edit-sequencingrun' id %} {% else %} {% url 'new-sequencingrun' %} {% endif %}">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Sequencing Run</h3>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">{{ form.name|as_crispy_field }}</div>
        <div class="col-6">{{ form.date|as_crispy_field }}</div>
        <div class="col-6">{{ form.facility|as_crispy_field }}</div>
        <div class="col-6">{{ form.sequencer|as_crispy_field }}</div>
        <div class="col-6">{{ form.pe|as_crispy_field }}</div>
        <div class="col-6">{{ form.amp_cycles|as_crispy_field }}</div>
        <div class="col-6">{{ form.date_run|as_crispy_field }}</div>
        <div class="col-12">{{ form.notes|as_crispy_field }}</div>
      </div>
    </div>
    <div class="card-footer">
      <a href="/sequencingrun" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="/static/assets/js/custom/documentation/forms/flatpickr.js"></script>
<script src="/sequencingrun/static/init.dateinput.sequencingrun.js"></script>
{% endblock %}
