{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% if id %} {% url 'edit-project' id %} {% else %} {% url 'new-project' %} {% endif %}">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">New Project</h3>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">{{ form.abbreviation|as_crispy_field }}</div>
        <div class="col-6">{{ form.name|as_crispy_field }}</div>
        <div class="col-6">{{ form.pi|as_crispy_field }}</div>
        <div class="col-6">{{ form.researcher|as_crispy_field }}</div>
        <div class="col-6">{{ form.technician|as_crispy_field }}</div>
        <div class="col-6">{{ form.speedtype|as_crispy_field }}</div>
        <div class= "col-6"> {{form.date_start|as_crispy_field}}</div>
        <div class="col-12">{{ form.description|as_crispy_field }}</div>
      </div>
    </div>
    <div class="card-footer">
      <a href="/projects" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Save</button>
      {% if id %}
      <a href="/blocks?model=project&id={{ id }}" class="btn btn-primary">Add Block(s)</a>
      {% endif %}
    </div>
  </div>
</form>

{% endblock %}

{% block scripts %}
<script src="/static/assets/js/custom/documentation/forms/flatpickr.js"></script>
<script src="static/init.dateinput.project.js" charset="utf-8"></script>
{% endblock %}
