{% extends "__base.html" %}

{% if all_areas %}


{% block content %}
<form >
    {% if blockname %}
        <h2>Areas for block <strong>{{blockname}}</strong></h2> 
    {% else %}
        {% if query %}
            <h2>Areas for "{{query}}"</h2>
        {% else %}
            <h2>List of all areas</h2>
        {% endif %}
    {% endif %}
    <table class="table" method='get' id="table_id" >
    <tr>
        <thead class="thead-light">
            <tr>
                <th>Select</th><th>AreaID</th><th>Area Type</th><th>Path #</th>
                <th>Project</th><th>Dissector</th>
                <th>Completion Date</th><th>Collection</th>
                <th>Nucl. Acids</th>
            </tr>
        </thead>
        <tbody>
        {% for areas in all_areas %}
            <tr>
            <td><input type="checkbox" name="areas_selected" value="{{ areas.ar_id }}" class="form-check-input"></td>
            <td><a href="{% url 'area-update' areas.ar_id %}">{{ areas.old_area_id }}</a></td>
            <td>{{ areas.get_area_type_display }}</td>
            <td>{{ areas.block.old_block_id }}</td>
            <td>{{ areas.block.project.abbreviation }}</td>
            <td>{{ areas.investigator }}</td>
            <td>{{ areas.completion_date }}</td>
            <td>{{ areas.get_collection_display }}</td>
            <td><a href="{% url 'nucacids-list' %}?areaid={{areas.ar_id}}">{{ areas.nucacids_set.count }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="input-group mb-3">
        <input type="search" name='q' class="form-control" placeholder="Search Areas" aria-label="Search Areas" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="button-addon2" action='submit'>Search</button>
        </div>
    </div>
    <div>
            <button class="btn btn-primary" action="{% url 'extract_nucacids' %}"  role="button" >Make Nucleic Acids</button>  
            Check the areas for which you want to extract Nucleic Acids first      
        </div> 
</form>

{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}
{% else %}
  <p>There are no patients to display.</p>
{% endif %}

{% block js %}
{% endblock js %}



