{% extends "__base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post">
    {{ formset.management_form }}
    <table id="table_id" class="table-responsive-md table-striped table-hover">
            {% csrf_token %}
        <tr>
            <thead class="thead-light">
                <tr>
                    <th>Area</th><th>Block#</th><th>NA Type</th>
                    <th>Ext Date</th><th>Method</th>
                    <th>Qubit</th><th>Vol µl</th>
                    <th>Amount</th><th>Re-Ext ng</th>
                    <th>Total ng</th><th>Sheared ng</th>
                    <th>Sheared µl</th><th>TE µl</th>
                </tr>
            </thead>
            <tbody>
            <!-- {{ formset.non_form_errors }} -->
            {% for form in formset.forms %}
            <tr>
                <!-- <td><input type="checkbox" name="new_nas" value="{{ areas.ar_id }}" class="form-check-input"></td> -->
                <th scope="row">{{ form.instance.area.ar_id }}</th>
                
                <td>{{ form.instance.area.old_block_id }}</td>
                <td>{{ form.na_type.label }}</td>
                <td>{{ form.date_extr }}</td>
                <td>{{ form.method }}</td>
                <td>{{ form.qubit }}</td>
                <td>{{ form.volume }}</td>
                <td>{{ form.amount }}</td>
                <td>{{ form.re_ext }}</td>
                <td>{{ form.total_ext }}</td>
                <td>{{ form.na_sheared }}</td>
                <td>{{ form.shearing_vol }}</td>
                <td>{{ form.te_vol }}</td>
            </tr>

            {% endfor %}
        <!-- {% if formset.total_error_count %}
            <ul class="errorList">
            {% for dict in formset.errors %}
                {% for error in dict.values %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %} -->
</ul>
<!-- {% endif %} -->
        </tbody>
    </table>
        <!-- <input name='new_nas' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button type="submit" class="btn btn-success">Save NucAcids</button>
        {% csrf_token %}
    </form>  
{% endblock content %}