{% extends "__base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" >
{% csrf_token %}

    <div class="container">
        
        <h4>New Project</h4>
            <div class="row justify-content-start">
                    <div class="col-6">{{ form.abbreviation|as_crispy_field }}</div>
                    <div class="w-100"></div>
                    <div class="col">{{ form.name|as_crispy_field }}</div>
                    <div class="col">{{ form.pi|as_crispy_field }}</div>
                    <div class="w-100"></div>
                    <div class="col">{{ form.description|as_crispy_field }}</div>
                    <div class="col">{{ form.speedtype|as_crispy_field }}</div>
                    <div class="w-100"></div>
                    <div class= "col-6"> {{form.date_start|as_crispy_field}}</div>
                </div>
                <br>

            <br>
        <button type="submit" class="btn btn-success">Save Project</button>
    </div>
        
</form>
    {% endblock %}