{% extends "__base.html" %}
{% load crispy_forms_tags %}

{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Patient Update #{{patients.pat_id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Update</button>
            <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
        </form>
        <form action="{% url 'patient-delete' pk=patients.pat_id %}" method="GET">
            {% csrf_token %}
            <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
        </form>
    </div>
</div>
{% endblock %}
