{% extends "__base.html" %}
{{BlockFormset.management_form}}
{% block container %}
<h3>Patient</h3>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
<table class="table">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th>Histo#</th><th>Site</th>
                    <th>Diagnosis</th><th>Ulceration</th>
                    <th>Received</th><th>Fixation</th>
                    <th>Project</th><th>Notes</th>
                </tr>
            </thead>
            <tbody>
            {% for blocki in blocklist %}
                <tr>
                <td><a href="{{blocki.block_id}}">{{ blocki.block_id }}</a></td>
                <td>{{ blocki.body_site}}</td>
                <td>{{ blocki.diagnosis }}</td>
                <td>{{ blocki.ulceration }}</td>
                <td>{{ blocki.receive }}</td>
                <td>{{ blocki.fixation}}</td>
                <td>{{ blocki.project}}</td>
                <td>{{ blocki.notes }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% endblock %}