{% extends "__base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Patient Details{{patients.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Patient ID</dt>
      <dd class="col-sm-9">{{ patient.pat_id }}</dd>
      <dt class="col-sm-3">Sex</dt>
      <dd class="col-sm-9">{{ patient.sex  }}</dd>
      <dt class="col-sm-3">Race</dt>
      <dd class="col-sm-9">{{ patient.race }}</dd>
      <dt class="col-sm-3">Source</dt>
      <dd class="col-sm-9">{{ patient.source  }}</dd>
      <dt class="col-sm-3">Project</dt>
      <dd class="col-sm-9">{{ patient.project }}</dd>
      <dt class="col-sm-3">Notes</dt>
      <dd class="col-sm-9">{{ patient.notes  }}</dd>
    </dl>

    </div>
</div>
{% endblock %}


