{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% url 'edit_block_url' %}">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Edit Block URL</h3>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="row">
        {{form|crispy}}
          <b>Note:</b>
          <p>Scan URL`s format like: <span>https://64.54.108.121/app/WebViewer/view/image/</span> and ends with <span>"/"</span></p>
      </div>
    </div>
    <div class="card-footer">
      <a href="/blocks/edit_block_url" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
    <script type="text/javascript">
			{% for message in messages %}

				{% if message.tags == "alert-success" %}

				Swal.fire({
						text: "{{ message|safe }}",
						icon: "success",
						buttonsStyling: false,
						confirmButtonText: "Ok, got it!",
						customClass: {
								confirmButton: "btn fw-bold btn-primary",
						}
				});

				{% endif %}

			{% endfor %}
		</script>
{% endblock %}
