{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% if id %} {% url 'edit-block' id %} {% else %} {% url 'new-block' %} {% endif %}">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">New Block</h3>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="row">
        <div class="col-6"> {{form.patient|as_crispy_field}}</div>
        <div class="col-6">{{ form.project|as_crispy_field }}</div>
        <div class="col-6">{{ form.old_block_id|as_crispy_field }}</div>
        <div class="col-6">{{ form.old_project|as_crispy_field }}</div>
        <div class="col-6">{{ form.age|as_crispy_field }}</div>
        <div class="col-6">{{ form.ulceration|as_crispy_field }}</div>
        <div class="col-6">{{ form.thickness|as_crispy_field }}</div>
        <div class="col-6">{{ form.mitoses|as_crispy_field }}</div>
        <div class="col-6">{{ form.slides|as_crispy_field }}</div>
        <div class="col-6">{{ form.slides_left|as_crispy_field }}</div>
        <div class="col-6">{{ form.fixation|as_crispy_field }}</div>
        <div class="col-6">{{form.area_id|as_crispy_field}}</div>
        <div class="col-6">{{ form.storage|as_crispy_field }}</div>
        <div class="col-6">{{ form.body_site|as_crispy_field }}</div>
        <div class="col-6">{{form.p_stage|as_crispy_field}}</div>
        <div class="col-6">{{ form.prim|as_crispy_field }}</div>
        <div class="col-6">{{ form.subtype|as_crispy_field }}</div>
        <div class="col-6">{{ form.diagnosis|as_crispy_field }}</div>
        <div class="col-6">{{ form.notes|as_crispy_field }}</div>
        <div class="col-6">{{form.micro|as_crispy_field}}</div>
        <div class="col-6">{{ form.gross|as_crispy_field }}</div>
        <div class="col-6">{{ form.clinical|as_crispy_field }}</div>
        <div class="col-6">{{ form.site_code|as_crispy_field }}</div>
        <div class="col-6">{{ form.icd9|as_crispy_field }}</div>
      </div>
    </div>
    <div class="card-footer">
      <a href="/blocks" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
{% endblock %}
