{% extends "master.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="{% if id %} {% url 'edit-block' id %} {% else %} {% url 'new-block' %} {% endif %}" novalidate>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Block</h3>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-10"> {{form.name|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.project|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.patient|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-2"> {{form.age|as_crispy_field}}</div>
          </div>
          <div class="row">
              <div class="col-12">
                  <label>Body Sites</label>
              </div>
          </div>
          <div class="row body-site-row mb-3 mt-3">
              {{ form.body_site|as_crispy_field }}
          </div>
          <div class="row">
            <div class="col-2"> {{form.ulceration|as_crispy_field}}</div>
            <div class="col-2"> {{form.thickness|as_crispy_field}}</div>
            <div class="col-2"> {{form.mitoses|as_crispy_field}}</div>
            <div class="col-2"> {{form.subtype|as_crispy_field}}</div>
            <div class="col-2"> {{form.p_stage|as_crispy_field}}</div>
          </div>
          <div class="row">
              <div class="col-10"> {{form.prim|as_crispy_field}}</div>
          </div>
          <div class="row">
              <div class="col-4"> {{form.fixation|as_crispy_field}}</div>
              <div class="col-3"> {{form.slides|as_crispy_field}}</div>
              <div class="col-3"> {{form.slides_left|as_crispy_field}}</div>
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
          <div class="row">
            <div class="col-10"> {{form.storage|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.scan_number|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-4"> {{form.icd10|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.diagnosis|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.micro|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.gross|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.clinical|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.path_note|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-10"> {{form.notes|as_crispy_field}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href="/blocks" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="/blocks/static/body_site.init.js" charset="utf-8"></script>
{% endblock %}
